@media only screen and (max-width: 600px) {}

@media screen and (min-width: 601px) {}

@media screen and (max-width: 768px) {

  header section,
  .nav-bar {
    display: none;
  }

  .hamburger-button {
    display: block;
  }

  .nav-bar ul {
    align-items: normal;
    flex-direction: column;
  }

}

@media screen and (min-width: 769px) {

  .hamburger-button {
    display: none;
  }

}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 1200px) {
}