@import url('https://fonts.googleapis.com/css2?family=Lunasima:wght@400;700&family=Nunito:wght@200;400&display=swap');
@import url('normalize.css');
@import url('header.css');
@import url('main.css');
@import url('medium.css');
@import url('large.css');

:root {
  --dark-primary-color: #303f9f;
  --light-primary-color: #c5cae9;
  --primary-color: #3f51b5;
  --text-icons: #fff;
  --accent-color: #607d8b;
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider-color: #bdbdbd;

  --accent-rgb: 63 81 181;
  --primary-rgb: var(--accent-rgb);

  --border-card-color: rgba(0, 0, 0, 0.175);
  --card-title-bg-color: rgba(33, 37, 41, 0.03);
}

* {
  box-sizing: border-box;
  font-family: 'Lunasima';
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: none;
  border: none;
  vertical-align: baseline;
  color: var(--text-icons);
  margin: 0em 0.25em 0em 0em;
  padding: 0.78571429em 1.5em 0.78571429em;
  text-transform: none;
  text-shadow: none;
  font-weight: bold;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 0.28571429rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  will-change: '';
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 500px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-content: center;
  justify-content: center;
}

.screen-image, .intro-hero {
  grid-area: 1 / 1 / 2 / 2;
}

.hero-image {
  display: grid;
  min-width: 500px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo-hero {
  position: absolute;
  z-index: 20;
}

.intro-hero {
  align-items: center;
  color: var(--text-icons);
  display: grid;
  font-family: 'Nunito';
  justify-content: center;
}

.intro-hero button,
form button {
  background-color: #2185d0;
}

footer {
  background-color: var(--accent-color);
  color: var(--light-primary-color);
  padding: 20px;
  text-align: center;
}

footer a {
  border-bottom: 1px dashed var(--light-primary-color);
  color: var(--light-primary-color);
  font-weight: bold;
  padding-bottom: 5px;
}

footer a:hover {
  border-bottom: none;
  color: var(--text-icons);
}

footer nav ul {
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

footer nav ul li {
  display: inline-block;
  padding: 0 20px;
}

footer p {
  font-weight: bold;
}

footer .icon img {
  filter: invert(86%) sepia(5%) saturate(1249%) hue-rotate(196deg) brightness(97%) contrast(88%);
  height: 16px;
}