@media screen and (min-width: 960px) {

  .hamburger-button {
    display: none;
  }

  header span:has(>.icon) {
    display: inline;
  }
  
  .info-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }

}