.info-cards {
  padding: 20px;
  position: relative;
}

.card {
  border: 1px solid var(--light-primary-color);
  margin-bottom: 20px;
  box-shadow: 1px 3px 2px 0px rgba(117, 117, 117, 0.4);
  -webkit-box-shadow: 1px 3px 2px 0px rgba(117, 117, 117, 0.4);
  -moz-box-shadow: 1px 3px 2px 0px rgba(117, 117, 117, 0.4);
}

.body-card {
  padding: 10px;
}

.body-card > h1 {
  font-size: 1.8rem;
  margin-top: 0;
}

.body-card > p:nth-child(n + 3) {
  color: var(--dark-primary-color);
  font-size: 0.8rem;
  font-weight: bold;
}

.body-card > p:last-child {
  text-align: right;
}

.body-card button {
  background-color: #f2711c;
}

.body-card p:has(>span>.icon) {
  align-items: center;
  display: flex;
}

.body-card .icon {
  padding-right: 15px;
}

.body-card .icon img {
  filter: invert(16%) sepia(27%) saturate(6575%) hue-rotate(226deg) brightness(105%) contrast(86%);
  width: 0.8rem;
}
