@media screen and (min-width: 641px) {
  
  header, nav, main, footer {
    margin: 0 auto;
  }

  .hamburger-button {
    display: none;
  }

  main div {
    grid-template-columns: 1fr 1fr;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
  }
  
}