@media screen and (max-width: 640px) {

  .hamburger-button {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  nav {
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 244px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 5;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  main h2,
  .map {
    grid-column: auto;
  }

}